/* HOME */

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins';
}

body {
    background-color: #1C2C46;
}

main {
    background-color: #1C2C46;
    width: 100%;
    height: 1900px;
    /* visibility: hidden; */
}

header {
    background-color: #191721;
    display: flex;
    width: 100%;
    height: 51px;
    justify-content: space-between;
}


/*NAV*/

.logo {
    display: inline-flex;
    border-right: 1px solid white;
    width: 110px;
    justify-content: space-between;
    padding-right: 5px;
    padding-left: 15px;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.logo h3 {
    color: white;
    /* font-style: piedra; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.carrito {
    color: white;
    cursor: pointer;
}

.burguer {
    color: white;
    cursor: pointer;
}

.menus {
    display: inline-flex;
    border-left: 1px solid white;
    width: 205px;
    align-items: center;
    justify-content: space-evenly;
}

.menus h4 {
    color: white;
}

.fotoperfil {
    width: 30px;
    height: 30px;
}

.search {
    display: inline-flex;
    align-items: center;
    /* margin-left: 5px; */
    /* width: 100%; */
}

.search input {
    width: 256px;
    height: 20px;
    border-radius: 48px;
    padding-left: 15px;
}

.logYser {
    display: flex;
}


/*MENU PERFIL*/

.fotoperfil {
    cursor: pointer;
}

.menu-perfil {
    position: fixed;
    right: 0;
    background-color: #191721;
    width: 130px;
    height: 246px;
    margin-top: 2px;
    transform: translateX(100%);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

.menu-perfil h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.perfil-active {
    transform: unset;
    transition: 0.5s;
    z-index: 100;
}

.perfil-item {
    height: 36px;
    display: inline-flex;
    justify-content: space-between;
}

.redes-item {
    height: 72px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}


/*MENU HAMBURGUESA*/

.menu-burguer {
    /*  display: none; */
    position: fixed;
    right: 0;
    background-color: #191721;
    width: 205px;
    height: 427px;
    margin-top: 2px;
    transform: translateX(100%);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-auto-rows: max-content; */
}

.burguer-active {
    transform: unset;
    transition: 0.5s;
    z-index: 100;
    /* background-color: #191721;
    width: 205px;
    height: 451px;
    float: right;
    position: absolute;
    right: 0;
    transition: all .5s ease;
    margin-top: 5px; */
}

.menu-item {
    height: 36px;
    display: inline-flex;
    justify-content: space-between;
}

.menu-item h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.menu-item-cruz {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 46px;
}

.cruz {
    cursor: pointer;
    color: white;
}


/*Contenido*/

h1 {
    color: white;
    padding-left: 250px;
    /* font-family: 'Courier New', Courier, monospace; */
    padding-top: 10px;
}

.contenedor {
    display: grid;
    grid-template-columns: 70% auto;
    margin: 20px;
    height: 500px;
}

.portada {
    padding-left: 50px;
}

.subtitulo {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.subtituloJuego h2 {
    color: white;
}

.subtitulo .vs {
    padding-top: 25px;
    color: white;
}

.subtituloJuego h2 span img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.subtitulo h2 {
    text-transform: uppercase;
}

.imagen img {
    width: 90%;
    height: 380px;
}

.videos {
    margin-top: 20px;
}

.video img {
    height: 210px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 30px;
}

.iconos {
    background-color: rgba(128, 128, 128, 0.2);
    width: 90%;
    height: 40px;
    border: solid 1px black;
    display: flex;
}

.icono1 {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.icono2 {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.breadcrumb {
    display: grid;
    grid-template-columns: 150px 100px 150px 100px 150px;
    margin: 20px;
    height: 100px;
    padding-left: 80px;
}

.breadcrumb h2 {
    text-decoration: underline;
    color: rgba(187, 187, 187, 1);
}

.info {
    display: grid;
    grid-template-rows: auto auto;
    margin: 20px 80px;
    height: 450px;
    width: 700px;
    /* font-family: 'Courier New', Courier, monospace; */
}

.info h2 {
    color: rgb(166, 255, 0);
}

.info h3 {
    color: white;
}

.cajaComentarios {
    display: grid;
    grid-template-columns: 50% auto;
    margin: 20px;
    height: 450px;
    padding-top: 100px;
}

.comentar {
    /* display: grid;
    grid-template-rows: 20% auto 10%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tituloComentar {
    display: flex;
    justify-content: center;
    /* font-family: 'Courier New', Courier, monospace; */
    color: white;
}

.escribirComent {
    display: flex;
    justify-content: center;
    height: 360px;
}

.escribirComent input {
    background-color: rgba(140, 154, 175, 1);
    width: 80%;
    border-radius: 40px;
    text-align: center;
    text-decoration: rgba(0, 0, 0, 0.6);
}

.escribirComent input::placeholder {
    color: white;
}

.boton {
    display: flex;
    justify-content: center;
}

.stars {
    position: relative;
    /* left: 250px; */
    bottom: 150px;
    color: white;
    display: flex;
    justify-content: center;
}

.stars iconify-icon {
    cursor: pointer;
}

.boton button {
    background-color: rgba(77, 118, 45, 1);
    position: relative;
    bottom: 135px;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    cursor: pointer;
}

.boton button:hover {
    background-color: #8FB175;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.35);
}

.boton button:active {
    background-color: #76D32D;
    /* box-shadow: 0 0px #666; */
    transform: translateY(2px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.comentarios {
    display: grid;
    grid-template-rows: 20% auto;
}

.tituloComentario {
    background-color: rgba(217, 217, 217, 0.5);
    text-transform: uppercase;
    padding-top: 30px;
}

.tituloComentario h1 {
    padding-left: 200px;
}

.comentarios .coments {
    background-color: rgba(217, 217, 217, 0.2);
    padding-left: 20px;
    padding-top: 10px;
    height: 360px;
    display: grid;
    grid-template-rows: auto auto auto;
}

.comentarios .coments h3 {
    color: black;
}

.comentarios .coments h3 span {
    color: white;
}

.comentarios .puntaje {
    display: flex;
    justify-content: space-between;
    color: white;
}

.comentarios .puntaje h3 {
    padding-right: 50px;
}


/* FOOTER */

footer {
    /* border: 1px solid black; */
    background-color: #191721;
    width: 100%;
    height: 212px;
    display: flex;
}

.redes {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 514px;
    height: 80%;
    margin-top: 20px;
}

.redes img {
    width: 40px;
    height: 40px;
}

.redes-item-footer {
    display: flex;
    margin-left: 80px;
}

.redes-item-footer h3 {
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
    font-size: 16px;
}

.copir {
    margin-left: 40px;
}

.copir p {
    opacity: .2;
    font-size: 10px;
}

.informacion {
    display: flex;
    max-width: 764px;
}

.info-item {
    height: 80%;
    width: calc(100%/4);
    margin-right: 120px;
    margin-top: 10px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.info-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.info-item p {
    font-size: 11px;
    opacity: .6;
    margin-bottom: 10px;
}

.info-item p:hover {
    text-decoration: underline;
    cursor: pointer;
}


/*LOADING*/

#spinner {
    visibility: visible;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    background-color: #1C2C46;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loading-spin {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-image: url(../img/sharklogo.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    animation: rotate 4s linear infinite;
}

.numero-carga {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 30px;
    text-align: center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}