/* MAIN */

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #1C2C46;
    width: 100%;
    height: 1889px;
}

.imgs-lanz {
    height: 560px;
}

.img-grande {
    width: 100%;
    height: 560px;
    position: absolute;
}

.img-chica{
    top: 280px;
    bottom: 0px;
    width: 700px;
    height: 330px;
    right: 0;
    position: absolute;
    opacity: .3;
}

.img-chica-2{
    top: 52px;
    right: 150px;
    position: absolute;
    width: 500px;
    height: 250px;
}

.img-titulo{
    position: absolute;
    bottom: 30px;
    left: 500px;
}

.img-titulo h2{
    margin-left: 25px;
}

.btn-click{
    height: 54px;
    width: 200px;
    background-color: rgba(233, 85, 38, 1);
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
}

.descrip h4{
    position: relative;
    right: 60px;
}

.historia{
    height: 400px;
    margin: 50px 200px;
}

.historia .title{
    margin: 10px 10px;
}

.historia .title h1{
    text-align: start;
}

.imgtext{
    display: grid;
    grid-template-columns: 60% auto;
    height: 345px;
}

.imgtext .text{
    padding-left: 10px;
    background-color: rgba(217, 217, 217, 0.2);
}

.text p{
    padding-top: 25px;
}

.imgtext .imagenes{
    margin-left: 20px;
    display: block;
    block-size: 345px;
}

.imagenes img{
    width: 302px;
    padding-left: 15px;
    border-radius: 30px;
}

h1{
    text-transform: uppercase;
    text-align: center;
}

.jugabilidad{
    height: 235px;
    margin: 50px 200px;
    width: 60%;
}

.title h2{
    padding-left: 150px;
}

.jugabilidad .modos{
    display: grid;
    grid-template-columns: auto auto;
}

.imagen img{
    padding-top: 10px;
    width: 400px;
    height: 200px;
    border-radius: 30px;
    margin-right: 10px;
}

.info{
    padding-top: 15px;
    padding-right: 20px;
    margin-left: 10px;
    height: 200px;
    text-align: center;
}

.galeria{
    margin-top: 10px;
    margin-bottom: 30px;
    height: 170px;
    margin-left: 300px;
    margin-right: 300px;
}

ul, li{
    padding: 0;
    margin: 0;
    list-style: none inside;
}

ul.slider {
    position: relative;
}

ul.slider img {
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    margin-left: 30%;
    border-radius: 10px;
}

ul.slider img:first-child {
    opacity: 1;
}

ul.slider img:target {
    opacity: 1;
}

.fotos{
    position: relative;
}

.menu li{
    display: flex;
    justify-content: flex-start;
    margin-left: 60px;
    height: 30px;    
    top: 40px;
    padding: 7px;
}

.menu a{
    text-decoration: none;
    padding: 5px;
    border: black 1px solid;
    transition: background-color 2s;
}

.menu a:hover{
    background-color: grey;
}


.caja{
    margin-left: 350px;
}

.caja h2 span{
    text-transform: uppercase;
}

footer{
    margin-top: 30px;
}