/* HOME */

* {
    margin: 0;
    padding: 0;
    color: white;
}

main {
    background-color: #1C2C46;
    width: 100%;
    height: 2152px;
}

header {
    background-color: #191721;
    display: flex;
    width: 100%;
    height: 51px;
    justify-content: space-between;
}

footer {
    /* border: 1px solid black; */
    background-color: #191721;
    width: 100%;
    height: 212px;
}

.logo {
    display: inline-flex;
    border-right: 1px solid white;
    width: 110px;
    justify-content: space-between;
    padding-right: 5px;
    padding-left: 15px;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.logo h3 {
    color: white;
    /* font-style: piedra; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.carrito {
    color: white;
    cursor: pointer;
}

.burguer {
    color: white;
    cursor: pointer;
}

.menus {
    display: inline-flex;
    border-left: 1px solid white;
    width: 205px;
    align-items: center;
    justify-content: space-evenly;
}

.menus h4 {
    color: white;
}

.fotoperfil {
    width: 30px;
    height: 30px;
}

.search {
    display: inline-flex;
    align-items: center;
    /* margin-left: 5px; */
    /* width: 100%; */
}

.search input {
    width: 256px;
    height: 20px;
    border-radius: 48px;
    padding-left: 15px;
}

.logYser {
    display: flex;
}

.menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #191721;
    width: 205px;
    height: 427px;
    margin-top: 5px;
    /* display: grid;
    grid-auto-rows: max-content; */
}

.menu-item {
    height: 36px;
    display: inline-flex;
    justify-content: space-between;
}

.menu-item h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.menu-item-cruz {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 46px;
}

.active {
    display: inline-flex;
    flex-direction: column;
    /* background-color: #191721;
    width: 205px;
    height: 451px;
    float: right;
    position: absolute;
    right: 0;
    transition: all .5s ease;
    margin-top: 5px; */
}

.cruz {
    cursor: pointer;
    color: white;
}


/* CARROUSEL */

.carrusel {
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    /* overflow-x: auto; */
}

.itemCarrusel {
    display: grid;
    grid-template-areas: "j1" "j2" "j3" "j4" "j5" "j6";
    grid-template-columns: auto auto auto auto auto auto;
    height: 100%;
}

.flechasCarrusel {
    top: 0;
    height: 90%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}

.card {
    height: 300px;
    width: 150px;
    margin: 15px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.j1 {
    grid: j1;
}

.j2 {
    grid: j2;
}

.j3 {
    grid: j3;
}

.j4 {
    grid: j4;
}

.j5 {
    grid: j5;
    display: none;
}

.j6 {
    grid: j6;
    display: none;
}

h2 {
    color: white;
}

.card h4 {
    display: none;
}

.card p {
    display: none;
}

.card:hover h4 {
    animation-name: fadeIn;
    display: block;
    transition: 0.5s;
}

.card:hover p {
    animation-name: fadeIn;
    display: block;
    transition: 0.5s;
}

.card img {
    width: 150px;
    height: 150px;
}

.card:hover img {
    width: 200px;
    height: 200px;
    transition: 0.5s;
}