/* HOME */

* {
    margin: 0;
    padding: 0;
    color: white;
}

main {
    background-color: #1C2C46;
    width: 100%;
    height: 1889px;
    /* visibility: hidden; */
}

header {
    background-color: #191721;
    display: flex;
    width: 100%;
    height: 51px;
    justify-content: space-between;
}


/*NAV*/

.logo {
    display: inline-flex;
    border-right: 1px solid white;
    width: 110px;
    justify-content: space-between;
    padding-right: 5px;
    padding-left: 15px;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.logo h3 {
    color: white;
    /* font-style: piedra; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.carrito {
    color: white;
    cursor: pointer;
}

.burguer {
    color: white;
    cursor: pointer;
}

.menus {
    display: inline-flex;
    border-left: 1px solid white;
    width: 205px;
    align-items: center;
    justify-content: space-evenly;
}

.menus h4 {
    color: white;
}

.fotoperfil {
    width: 30px;
    height: 30px;
}

.search {
    display: inline-flex;
    align-items: center;
    /* margin-left: 5px; */
    /* width: 100%; */
}

.search input {
    width: 256px;
    height: 20px;
    border-radius: 48px;
    padding-left: 15px;
}

.logYser {
    display: flex;
}


/*MENU PERFIL*/

.fotoperfil {
    cursor: pointer;
}

.menu-perfil {
    position: fixed;
    right: 0;
    background-color: #191721;
    width: 130px;
    height: 246px;
    margin-top: 2px;
    transform: translateX(100%);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

.menu-perfil h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.perfil-active {
    transform: unset;
    transition: 0.5s;
    z-index: 100;
}

.perfil-item {
    height: 36px;
    display: inline-flex;
    justify-content: space-between;
}

.redes-item {
    height: 72px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}


/*MENU HAMBURGUESA*/

.menu-burguer {
    /*  display: none; */
    position: fixed;
    right: 0;
    background-color: #191721;
    width: 205px;
    height: 427px;
    margin-top: 2px;
    transform: translateX(100%);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-auto-rows: max-content; */
}

.burguer-active {
    transform: unset;
    transition: 0.5s;
    z-index: 100;
    /* background-color: #191721;
    width: 205px;
    height: 451px;
    float: right;
    position: absolute;
    right: 0;
    transition: all .5s ease;
    margin-top: 5px; */
}

.menu-item {
    height: 36px;
    display: inline-flex;
    justify-content: space-between;
}

.menu-item h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.menu-item-cruz {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 46px;
}

.cruz {
    cursor: pointer;
    color: white;
}


/* CARROUSEL */

.cars {
    display: flex;
    flex-direction: column;
    /* margin-left: 70px; */
    align-items: center;
}

.carrusel {
    width: 60%;
    padding: 20px;
    /* margin: 0 auto; */
    position: relative;
    /* display: flex;
    flex-direction: column; */
    overflow: hidden;
}

.carrusel h2 {
    padding: 0 4vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: capitalize;
}


.itemCarrusel {
    /* display: grid;
    grid-template-areas: "j1" "j2" "j3" "j4" "j5" "j6";
    grid-template-columns: auto auto auto auto auto auto;
    height: 225px; */
    padding: 0 7vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.itemCarrusel::-webkit-scrollbar {
    display: none;
  }

/* .flechasCarrusel {
    top: 0;
    height: 90%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
} */

.pre-btn,
.nxt-btn {
  border: none;
  width: 7vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #1C2C46 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.card {
    height: 225px;
    width: 150px;
    margin: 15px;
    text-align: center;
    color: white;
    cursor: pointer;
}

/* .j1 {
    grid: j1;
}

.j2 {
    grid: j2;
}

.j3 {
    grid: j3;
}

.j4 {
    grid: j4;
}

.j5 {
    grid: j5;
    display: none;
}

.j6 {
    grid: j6;
    display: none;
}

h2 {
    color: white;
} */

.descripcion {
    display: none;
}

.descripcion p {
    font-size: 10px;
}

.card:hover .descripcion {
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
    font-size: 12px;
}

.card img {
    width: 150px;
    height: 150px;
}


/* .card:hover img {
    width: 200px;
    height: 200px;
    transition: 0.5s;
} */

.card:hover {
    display: block;
    transform: scale(1.25);
    transition: 0.5s;
}

/*BTN - COMPRAR*/

.btn-comprar {
    /* display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D762D; */
    display: none;
}

.card:hover .btn-comprar {
    display: inline-block;
    width: 100%;
    padding: 2px 12px;
    /* border-radius: 15px; */
    cursor: pointer;
    /* justify-content: center;
    align-items: center;
    background-color: #4D762D; */
    transition: 0.5s;
    font-size: 12px;
    text-align: center;
    background-color: #4D762D;
    /* box-shadow: 0 0px #999; */
    border: none;
    text-decoration: none;
    outline: none;
}

.card:hover .btn-comprar:hover {
    background-color: #8FB175;
}

.card:hover .btn-comprar:active {
    background-color: #76D32D;
    /* box-shadow: 0 0px #666; */
    transform: translateY(2px);
    /* opacity: .6; */
}

/* BTN-JUGAR */

.btn-jugar {
    /* display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D762D; */
    display: none;
}

.card:hover .btn-jugar {
    display: inline-block;
    width: 100%;
    padding: 2px 12px;
    /* border-radius: 15px; */
    cursor: pointer;
    /* justify-content: center;
    align-items: center;
    background-color: #4D762D; */
    transition: 0.5s;
    font-size: 12px;
    text-align: center;
    background-color: #EB1AD6;
    /* box-shadow: 0 0px #999; */
    border: none;
    text-decoration: none;
    outline: none;
}

.card:hover .btn-jugar:hover {
    background-color: #F886EC;
}

.card:hover .btn-jugar:active {
    background-color: #F886EC;
    /* box-shadow: 0 0px #666; */
    transform: translateY(2px);
    /* opacity: .6; */
}

/* BTN-RESERVAR  */

.btn-reservar {
    /* display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D762D; */
    display: none;
}

.card:hover .btn-reservar {
    display: inline-block;
    width: 100%;
    padding: 2px 12px;
    /* border-radius: 15px; */
    cursor: pointer;
    /* justify-content: center;
    align-items: center;
    background-color: #4D762D; */
    transition: 0.5s;
    font-size: 12px;
    text-align: center;
    background-color: #E95526;
    /* box-shadow: 0 0px #999; */
    border: none;
    text-decoration: none;
    outline: none;
}

.card:hover .btn-reservar:hover {
    background-color: #F68764;
}

.card:hover .btn-reservar:active {
    background-color: #F68764;
    /* box-shadow: 0 0px #666; */
    transform: translateY(2px);
    /* opacity: .6; */
}


/* FOOTER */

footer {
    /* border: 1px solid black; */
    background-color: #191721;
    width: 100%;
    height: 212px;
    display: flex;
}

.redes {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 514px;
    height: 80%;
    margin-top: 20px;
}

.redes img {
    width: 40px;
    height: 40px;
}


.redes-item-footer {
    display: flex;
    margin-left: 80px;
}

.redes-item-footer h3 {
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
    font-size: 16px;
}

.copir{
    margin-left: 40px;
}

.copir p {
    opacity: .2;
    font-size: 10px;
}

.informacion {
    display: flex;
}

.info-item {
    height: 80%;
    width: 140px;
    margin-right: 120px;
    margin-top: 10px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.info-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.info-item p {
    font-size: 11px;
    opacity: .6;
    margin-bottom: 10px;
}

/*LOADING*/

#spinner {
    visibility: visible;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    background-color: #1C2C46;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loading-spin {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-image: url(../img/sharklogo.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    animation: rotate 4s linear infinite;
}

.numero-carga {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 30px;
    text-align: center;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}